{% extends 'core/base.html'%}

{% block content %}
    <h1 class="text-3xl">About</h1>

    <div class="mt-6 space-y-6">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, ratione. Facere necessitatibus maxime, quidem, omnis impedit id a libero minus dicta similique iusto, ratione animi. Iure beatae expedita laborum rerum.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, magni! Rem a nisi dolor recusandae sunt exercitationem debitis in nemo maiores, vel veniam ex, ut quae! Vel repudiandae et similique.
        </p>
    </div>

{% endblock  %}